@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.font-style {
    font-family: 'Lato', sans-serif !important;
}

/*******************************************Navbar styling*/
.navbar {
    background-color: #33954A !important;
    padding: 0 1rem 0 0;
}

.navbar .nav-item a{
    color: #ffffff !important;
    font-size: 1em;
    font-family: 'lato'!important;
    padding-left: 10px;
    text-decoration: underline;
}

.navbar-toggler {
    background-color: #ffffff;
}

.navbar-light .navbar-toggler {
    border-color: #203448;
}

/*********************Navbar logo image styling************************/
.logo-size {
    width: 100%;
    height: auto;
}

/*********************Main image styling************************/
#main-image {
    width: 100%;
    height: auto;
}

#about-paragraph {
    text-align: center;
    font-size: .75em;
    color: #203448;
    padding: 20px 20px 0 20px;
}
/*********************Map control buttons styling************************/
#map-buttons-div {
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px;
}

.map-buttons {
    width: 10em;
    height: auto;
    margin: 5px 5px;
    color: #ffffff;
    background-color: #2D7549;
    border: 3px #2D7549 solid;
    font-size: 3vw;
}

/*********************Map styling************************/

#map {
    height: 200px;
}

/*********************Footer styling************************/
.main-footer {
    background-color: #33954A;
    padding: 10px 0px 5px 0px;
}

footer p {
    color: #ffffff;
    padding: 2.5px 0;
    margin: 0;
    font-size: 2.5vw;
}

.icon {
    color: #ffffff;
    font-size: large;
    margin: 0;
    padding: 10px;
}

