@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.font-style {
    font-family: 'Lato', sans-serif !important;
}

/*******************************************Navbar styling*/
.navbar {
    background-color: #33954A !important;
    padding: 0 1rem 0 0;
}

.navbar .nav-item a {
    color: #ffffff !important;
    font-size: 1em;
    font-family: 'lato' !important;
    padding-left: 10px;
    text-decoration: underline;
}

.navbar-toggler {
    background-color: #ffffff;
}

.navbar-light .navbar-toggler {
    border-color: #203448;
}

/*********************Navbar logo image styling************************/
.logo-size {
    width: 100%;
    height: auto;
}

/*********************Main image styling************************/
#main-image {
    width: 100%;
    height: auto;
}

#about-paragraph {
    text-align: center;
    font-size: .75em;
    color: #203448;
    padding: 20px 20px 0 20px;
}

/*********************Map control buttons styling************************/
#map-buttons-div {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px;
}

.map-buttons {
    width: 10em;
    height: auto;
    margin: 5px 5px;
    color: #ffffff;
    background-color: #2D7549;
    border: 3px #2D7549 solid;
    font-size: 3vw;
    box-shadow: 5px 5px 10px #808080;
}

/*********************Map styling************************/

#map {
    height: 200px;
}

/*********************Footer styling************************/
.main-footer {
    background-color: #33954A;
    padding: 10px 0px 5px 0px;
}

footer p {
    color: #ffffff;
    padding: 2.5px 0;
    margin: 0;
    font-size: 2.5vw;
}

.icon {
    color: #ffffff;
    font-size: large;
    margin: 0;
    padding: 10px;
}

/*********************Media queries************************/

@media only screen and (min-width: 576px) {
    #about-paragraph {
        font-size: .90em;
        padding: 20px 40px 10px 40px;
    }

    #map-buttons-div {
        padding: 0px 40px;
    }

    footer p {
        font-size: 2vw;
    }

    .icon {
        font-size: 25px;
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        padding: 0 2rem 0 0;
    }

    .navbar .nav-item a {
        font-size: 1.2em;
        padding-left: 20px;
    }

    #about-paragraph {
        font-size: 1.2em;
        padding: 25px 45px 15px 45px;
    }

    #map-buttons-div {
        padding: 0px 45px;
    }

    footer p {
        font-size: 2.1vw;
    }

    .icon {
        font-size: 35px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
    align-items: flex-end;
    padding-bottom: 1rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.2rem;
        padding-left: 2.2rem;
        padding-top: 2.5rem;
        border-bottom: 3px #ffffff solid;
    }

    .navbar .nav-item a {
        font-size: 1.5em;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .nav-link {
        padding: .25rem 0;
    }

    #about-paragraph {
        font-size: 1.7em;
        padding: 30px 50px 30px 50px;
    }

    #map-buttons-div {
        display: flex !important;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0px 50px;
    }

    footer p {
        font-size: 2.3vw;
    }

    .icon {
        font-size: 45px;
    }
}

@media only screen and (min-width: 992px) {
    .logo-size {
        max-width: 300px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 4rem;
        padding-left: 4rem;
    }

    #mainImage-div {
        max-height: 675px;
        overflow: hidden;
    }

    #about-paragraph {
        font-size: 20px;
        padding: 30px 70px 30px 70px;
    }

    #map-buttons-div {
        padding: 0px 70px;
    }

    .map-buttons {
        max-width: 500px;
        color: #ffffff;
        font-size: 20px;
        letter-spacing: 1.5px;
    }

    footer p {
        font-size: 15px;
    }

    .icon {
        font-size: 45px;
    }
}

/*********************Contact.html styling************************/

form.container {
    padding: 25px 40px!important;
    width: 80%;
    height: auto;
    margin: 20px auto;
    box-shadow: 5px 5px 10px #808080;
}

form label {
    font-size: 16px;
    font-weight: 700;
}

.input-two, .input-three {
    padding-top: 20px;
}

.input-box, #text-box {
    border: 1px #203448 solid;
    width: 100%;
}

#text-box {
    height: 150px;
    font-size: 16px;
}

/*********************Send message button styling************************/

.submit-div {
    text-align: center;
    padding-top: 20px;
}

#submit-button {
    background-color: #2D7549;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 5px 5px 10px #808080;
    border-radius: 10px;
    width: 140px;
    height: 35px;
    text-transform: capitalize;
}




